<style>
  body {
    color: red;
    /* Цвет символа */
    background: black;
    font-size: 300%;
    /* Размер шрифта */
  }

  p {
    color: whight;
    /* Цвет текста */
  }
</style>
<div class="container-sm black ">
  <h1 class="text-center">{{title}}</h1>
</div>
