<link rel="stylesheet" href="/stylesheets/styleAttention.css"> 
<div class="container-sm black ">
  <div class="container">
    <div class="row">
      <h1 class="text-center">{{title}}</h1>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/auth">Да, я
            зарегистрирован.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reg">Нет, но я хочу
            зарегистрироваться.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/out">Нет, но я не буду
            регистрироваться.</a>
        </li>
      </ul>
    </div>
  </div>
</div>
